<nav>
  <button class="nav-toggle" aria-label="Open navigation">&#9776;</button>
  <ul class="nav-menu">
    <li><a href="/">Home</a></li>
    <% if (classifications && classifications.length > 0) { %>
      <% classifications.forEach(classification => { %>
        <li>
          <a href="/inv/type/<%= classification.classification_name %>">
            <%= classification.classification_name %>
          </a>
        </li>
      <% }) %>
    <% } %>
  </ul>
</nav>
